
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg#canvas {
  background: radial-gradient(circle at center, #0f1f3d 0%, #111b2e 100%);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.15);
  width: 100vw;
  height: 100vh;
  max-width: none;
  max-height: none;
}


/* Stelle */
path {
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.7));
}


/* Scie */
circle.trail {
  pointer-events: none;
  transition: opacity 0.3s ease;
}
